<div id ="welcomeindex">
  <h3>Have you Cricket-ed today?</h3>
 <img src="http://i20.photobucket.com/albums/b211/krystlephoto/Github/Budget%20Cricket/48383045-38ed-42ae-9c29-fcb0730cfe1c_zps2f05f869.jpg" border="0" alt=" photo 48383045-38ed-42ae-9c29-fcb0730cfe1c_zps2f05f869.jpg" id="welcricket"/>
  <br>
    | <%= link_to "Home Page", controller: "home" %> |
  <br>
</div>
