<h3>Have you Cricket-ed today?</h3>

<img src='http://i20.photobucket.com/albums/b211/krystlephoto/48383045-38ed-42ae-9c29-fcb0730cfe1c_zps2f05f869.jpg'/>
<br>
<br>
  | <%= link_to "Login Returning User" %> | <%= link_to "Create Login" %> |
<br>
<br>
