/*  Main Cricket Specs  */
/* =====================*/


h1 {
  color:#003300;
  font-family: Georgia;
}

h2 {
  color: #003300;
  font-family: Georgia;
}

h3 {
  color: #003300;
  font-family: Georgia;
}

li {
  font-weight: bold;
}

p {
  font-weight: normal;
}


/* Cricket Logo Specs */
/* ===================*/
#welcricket {
  height: 400px;
  width: 300px;
  position: center;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  border: 5px #003300 solid;
}


/*  All Link Specs  */
/* =================*/
a :hover{
color:#ffff33;
font: Georgia, 17px italic;
}

a :link {
  color:#000000;
}

a :visited {
  color: #009900;
}

.BottomLinks {
  text-align: center;
}

.TopLinks {
 text-align: center;
}


/*  About Budget Specs  */
/* =====================*/
#AboutBudget {
  background-color: #ccff99;
  text-align: center;
  font-family: georgia;
  border-top: #003300 7px solid;
  border-left: #003300 7px solid;
  border-right: #003300 7px solid;
  border-bottom: #003300 7px solid;
  margin: 0 5px 0 5px;
  padding: 0 10px 0 10px;


}

.AboutBudgetMain {
  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}

#cricketQ1, #cricketQ2, #cricketQ3, #cricketQ4, #cricketQ5 {
  height: 260px;
  width: 320px;
  float: right;

}

/*  About US Specs  */
/* =================*/
 #aboutus{

  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;

}

#aboutustop {
  text-align: center;

}

/*  Contact US Specs  */
/* ===================*/
#contact {
  background-color: #ccff99;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;

}

#contacttop {
 text-align: center;
}

#dianapic, #krystlepic, #cricketpic {
  height: 200px;
  width: 200px;
}

#dianapic{
  float:left;
}
#dianapara {
  text-align: center;
}


#krystlepic {
  float: left;
}
#KrystlePara {
  text-align: center;
}



#cricketpic {
  float:left;
}
#cricketpara {
  text-align: center;
}

#names {
  text-align: center;
  font-family: georgia;
  font-size: 35px;
}





/*  Awesome Home Specs  */
/* =====================*/
#homeindex {
  background-color: #ccff99;
  text-align: center;
  font-family: Georgia;
  border: #003300 7px solid;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;

}

.tweetframe {
  background-color: #ccff99;
  text-align: center;
  font-family: Georgia;
  margin: 10px 25px 10px 25px;
  padding: 10px 20px 10px 20px;
  border: #003300 5px dashed;
  height: 675px;
  width: 350px;
}

#tweet {
  height: 400px;
  width: 350px;

}

/*  Welcome Specs  */
/* =====================*/
#welcomeindex {
  background-color: #ccff99;
  text-align: center;
  font-family: Georgia;
  border: #003300 7px solid;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}



/*  Budget Cricket Wallet Specs  */
/* ==============================*/

#wallet, #EditBudget, #NewBudget, #budgetshow {
  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}

#wallettop, #EditBudgetTop, #NewBudgetTop, #showtop  {
  text-align: center;
}

/*  Budget Cricket Wallet Expense Specs  */
/* ======================================*/
#expensenew, #expenseedit, #expenseshow {
  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}

#expensenewtop, #exedittop, #exshowtop {
  text-align: center;
}



/* Budget FAQs QUESTION Specs */
/* ===========================*/

#FAQmain, #FAQedit, #FAQnew, #FAQshow {
  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}

#FAQtop, #FAQedittop, #FAQnewtop, #FAQshowtop {
    text-align: center;
}

/* Budget FAQs ANSWER Specs */
/* =========================*/


#FAQAedit, #FAQAnew, #FAQAshow{
    background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;
}

#FAQAedittop, #FAQAnewtop, #FAQAshowtop {
  text-align: center;
}

/* Cricket Stories Specs */
/* ======================*/

 #stories{
  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
  margin: 5px 5px 5px 5px;
  padding: 10px 10px 10px 10px;

}

#storiestop {
  text-align: center;

}
