/*  Main Cricket Specs  */
/* =====================*/


h1 {
  color:#003300;
  font-family: Georgia;
}

h2 {
  color: #003300;
  font-family: Georgia;
}

h3 {
  color: #003300;
  font-family: Georgia;
}

li {
  font-weight: bold;
}

p {
  font-weight: normal;
}


/* Cricket Logo Specs */
/* ===================*/
img {
  height: 400px;
  width: 300px;
  position: center;
  padding: 10px 10px 10px 10px;
  margin: 5px 5px 5px 5px;
  border: 5px #003300 solid;
}


/*  All Link Specs  */
/* =================*/
a :hover{
color:#ffff33;
font: Georgia, 17px italic;
}

a :link {
  color:#000000;
}

a :visited {
  color: #009900;
}

.BottomLinks {
  text-align: center;
}


/*  About Budget Specs  */
/* =====================*/
#AboutBudget {
  background-color: #ccff99;
  text-align: center;
  font-family: georgia;
  border-top: #003300 7px solid;
  border-left: #003300 7px solid;
  border-right: #003300 7px solid;
  margin: 0 5px 0 5px;
  padding: 0 10px 0 10px;
}

.AboutBudgetMain {
  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border-bottom: #003300 7px solid;
}

/*  About US Specs  */
/* =================*/
 #aboutus{

  background-color: #ccff99;
  text-align: left;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;

}

/*  Contact US Specs  */
/* ===================*/
#contact {
  background-color: #ccff99;
  text-align: center;
  font-family: Georgia;
  border: #003300 7px solid;
  color: #003300;
}
/*  Awesome Home Specs  */
/* =====================*/
#homeindex {
  background-color: #ccff99;
  text-align: center;
  font-family: Georgia;
  border: #003300 7px solid;

}

.tips {
  background-color: #ccff99;
  text-align: center;
  font-family: Georgia;
  margin: 20px 15px 10px 15px;
  padding: 10px 10px 10px 10px;
  border: #003300 5px dashed;
  height: 250px;
  width: 200px;
}

/*  Welcome Home Specs  */
/* =====================*/
#welcomeindex {
  background-color: #ccff99;
  text-align: center;
  font-family: Georgia;
  border: #003300 7px solid;
}
